<h1>New Comment</h1>

<%= form_for @post do |f| %>
  <%= f.label :content, :required => true, :autofocus => true %>
  <%= f.text_field :content %>
  <%= f.label :img %>
  <%= f.text_field :img %>
  <%= f.submit %>
<% end %>
