<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true, :autofocus => true %>
  </fieldset>

  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :location %>
    <%= f.text_field :location, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :img %>
    <%= f.cl_image_upload :img, :required => true %>
  </fieldset>

  <%= f.submit %>
<% end %>
