<h2><%= @user.name %> Posts</h2>

<%= image_tag @user.img %>

<ul>
  <li><%= @user.name %></li>
  <li><%= @user.location %></li>
</ul>
<%= link_to 'Update Profile', edit_user_path  %>

<% @posts.each do |post| %>
<ul>
  <li><%= cl_image_tag post.img %></li>
  <li><%= post.content %></li>
</ul>


<% end %>
