<h2><%= @user.name %> Posts</h2>

<%= cl_image_tag @user.img, :width=>200, :height=>200 %>

<ul>
  <li><%= @user.name %></li>
  <li><%= @user.location %></li>
</ul>
<%= link_to 'Update Profile', edit_user_path  %>

<% @posts.each do |post| %>
<ul>
  <li><%= cl_image_tag post.img, :width=>250, :height=>250, :crop=>"scale" %></li>
  <li><%= post.content %></li>
</ul>

<% end %>
