<h1>New Post</h1>

<p>Share your thoughts</p>

<%= form_tag @post do %>
  <fieldset>
    <%= label_tag :content %>
    <%= text_field_tag :content %>
  </fieldset>

  <fieldset>
    <%= label_tag :img %>
    <%= url_field_tag :img %>
  </fieldset>

  <%= submit_tag "Post" %>
<% end %>
