<h1><%= @post.user.name %> Posts</h1>

<%= image_tag @post.user.img, :class => 'profile_pic', :alt => @post.user.name %>
<div>
  <%= @post.user.name %>
</div>

<%= image_tag @post.img %>

<%= form_for Comment.new do |f| %>
<%= f.hidden_field :post_id, :value => @post.id %>
  <fieldset>
    <%= f.label :content, "Comments" %>
    <%= f.text_field :content %>
  </fieldset>
<%= f.submit %>
<% end %>

<ul>

  <% @comments.each do |comment| %>
  <% next unless comment.present? %>
  <li><%= comment.img if comment.img.present? %></li>
  <li><%= comment.content if comment.content.present? %></li>
  <div class="comment_controls">
    <%= link_to "Delete comment", comment, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  </div>
  <% end %>
</ul>


<div class="controls">
  <%= link_to "Edit post", edit_post_path(@post) %>
  <%= link_to "Delete post", @post, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
